<span v-on:click="play">play</span>
<span v-on:click="pause">pause</span>
<span v-on:click="next">next</span>

<ul style="float: left; width: 45%;">
    <li v-for="list in playlists" v-on:click="getPlaylist(list.id)">
        <img :src="list.images[0].url" width="200"/>

        \{{list.name}} \{{list.tracks.total}} songs
    </li>
</ul>

<ul style="float: left; width: 45%;">
    <li v-for="list in currentPlaylist" v-on:click="playTrack(list.track.uri)">
        <img :src="list.track.album.images[0].url" width="200"/>

        \{{list.track.name}} \{{list.track.album.name}} \{{Number((list.track.duration_ms / 1000 / 60).toFixed(1))}}
    </li>
</ul>
